In [158]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [131]:
url = 'https://www.espncricinfo.com/series/pakistan-super-league-2021-22-1292999/points-table-standings'
source = requests.get(url)
soup = bs(source.text, 'html.parser')
soup

tbody_tag = soup.find('tbody')
tr_tag = tbody_tag.find_all('tr',class_ = "ds-text-tight-s")

tbl_21_22 = {
    'team' : [],
    'matches' : [],
    'win': [],
    'loss' : [],
    'tie' : [],
    'no_result' : [],
    'points' : [],
    'nrr' : [],
    'for' : [],
    'against' : []
}


for row in tr_tag:
    td_tag = row.find_all('td', recursive=False)
    tbl_21_22['team'].append(td_tag[0].text)
    tbl_21_22['matches'].append(td_tag[1].text)
    tbl_21_22['win'].append(td_tag[2].text)
    tbl_21_22['loss'].append(td_tag[3].text)
    tbl_21_22['tie'].append(td_tag[4].text)
    tbl_21_22['no_result'].append(td_tag[5].text)
    tbl_21_22['points'].append(td_tag[6].text)
    tbl_21_22['nrr'].append(td_tag[7].text)
    tbl_21_22['for'].append(td_tag[9].text)
    tbl_21_22['against'].append(td_tag[10].text)

df_22 = pd.DataFrame(tbl_21_22)

df_22['season'] = "2021/2022"
df_22

,team,matches,win,loss,tie,no_result,points,nrr,for,against,season
0,1Multan Sultans,10,9,1,0,0,18,1.253,1792/194.5,1589/200.0,2021/2022
1,2Lahore Qalandars,10,6,4,0,0,12,0.765,1764/197.0,1631/199.1,2021/2022
2,3Peshawar Zalmi,10,6,4,0,0,12,-0.340,1749/199.4,1782/195.5,2021/2022
3,4Islamabad United,10,4,6,0,0,8,-0.069,1763/195.5,1787/197.0,2021/2022
4,5Quetta Gladiators,10,4,6,0,0,8,-0.708,1665/194.5,1826/197.2,2021/2022
5,6Karachi Kings,10,1,9,0,0,2,-0.891,1500/200.0,1618/192.5,2021/2022

In [132]:
url = 'https://www.espncricinfo.com/series/psl-2020-21-2021-1238103/points-table-standings'
source = requests.get(url)
soup = bs(source.text, 'html.parser')
soup

tbody_tag = soup.find('tbody')
tr_tag = tbody_tag.find_all('tr',class_ = "ds-text-tight-s")

tbl_20_21 = {
    'team' : [],
    'matches' : [],
    'win': [],
    'loss' : [],
    'tie' : [],
    'no_result' : [],
    'points' : [],
    'nrr' : [],
    'for' : [],
    'against' : []
}


for row in tr_tag:
    td_tag = row.find_all('td', recursive=False)
    tbl_20_21['team'].append(td_tag[0].text)
    tbl_20_21['matches'].append(td_tag[1].text)
    tbl_20_21['win'].append(td_tag[2].text)
    tbl_20_21['loss'].append(td_tag[3].text)
    tbl_20_21['tie'].append(td_tag[4].text)
    tbl_20_21['no_result'].append(td_tag[5].text)
    tbl_20_21['points'].append(td_tag[6].text)
    tbl_20_21['nrr'].append(td_tag[7].text)
    tbl_20_21['for'].append(td_tag[9].text)
    tbl_20_21['against'].append(td_tag[10].text)

df_21 = pd.DataFrame(tbl_20_21)

df_21['season'] = "2020/2021"
df_21

,team,matches,win,loss,tie,no_result,points,nrr,for,against,season
0,1Islamabad United,10,8,2,0,0,16,0.859,1643/183.3,1596/197.1,2020/2021
1,2Multan Sultans,10,5,5,0,0,10,1.050,1695/192.5,1521/196.3,2020/2021
2,3Peshawar Zalmi,10,5,5,0,0,10,0.586,1713/186.4,1671/194.3,2020/2021
3,4Karachi Kings,10,5,5,0,0,10,-0.115,1711/192.1,1697/188.1,2020/2021
4,5Lahore Qalandars,10,5,5,0,0,10,-0.589,1504/196.1,1621/196.2,2020/2021
5,6Quetta Gladiators,10,2,8,0,0,4,-1.786,1491/200.0,1651/178.4,2020/2021

In [151]:
url = 'https://www.espncricinfo.com/series/psl-2019-20-2020-21-1211602/points-table-standings'
source = requests.get(url)
soup = bs(source.text, 'html.parser')
soup

tbody_tag = soup.find('tbody')
tr_tag = tbody_tag.find_all('tr',class_ = "ds-text-tight-s")

tbl_19_20 = {
    'team' : [],
    'matches' : [],
    'win': [],
    'loss' : [],
    'tie' : [],
    'no_result' : [],
    'points' : [],
    'nrr' : [],
    'for' : [],
    'against' : []
}


for row in tr_tag:
    td_tag = row.find_all('td', recursive=False)
    tbl_19_20['team'].append(td_tag[0].text)
    tbl_19_20['matches'].append(td_tag[1].text)
    tbl_19_20['win'].append(td_tag[2].text)
    tbl_19_20['loss'].append(td_tag[3].text)
    tbl_19_20['tie'].append(td_tag[4].text)
    tbl_19_20['no_result'].append(td_tag[5].text)
    tbl_19_20['points'].append(td_tag[6].text)
    tbl_19_20['nrr'].append(td_tag[7].text)
    tbl_19_20['for'].append(td_tag[9].text)
    tbl_19_20['against'].append(td_tag[10].text)
    

df_20 = pd.DataFrame(tbl_19_20)

df_20['season'] = "2019/2020"
df_20

,team,matches,win,loss,tie,no_result,points,nrr,for,against,season
0,1Multan Sultans,10,6,2,0,2,14,1.031,1249/137.4,1162/144.3,2019/2020
1,2Karachi Kings,10,5,4,0,1,11,-0.190,1455/173.2,1498/174.3,2019/2020
2,3Lahore Qalandars,10,5,5,0,0,10,-0.072,1592/181.4,1636/185.1,2019/2020
3,4Peshawar Zalmi,10,4,5,0,1,9,-0.055,1343/154.3,1302/148.5,2019/2020
4,5Quetta Gladiators,10,4,5,0,1,9,-0.722,1399/168.3,1492/165.2,2019/2020
5,6Islamabad United,10,3,6,0,1,7,0.185,1389/154.3,1337/151.5,2019/2020

In [133]:
url = 'https://www.espncricinfo.com/series/psl-2018-19-1168814/points-table-standings'
source = requests.get(url)
soup = bs(source.text, 'html.parser')
soup

tbody_tag = soup.find('tbody')
tr_tag = tbody_tag.find_all('tr',class_ = "ds-text-tight-s")

tbl_18_19 = {
    'team' : [],
    'matches' : [],
    'win': [],
    'loss' : [],
    'tie' : [],
    'no_result' : [],
    'points' : [],
    'nrr' : [],
    'for' : [],
    'against' : []
}


for row in tr_tag:
    td_tag = row.find_all('td', recursive=False)
    tbl_18_19['team'].append(td_tag[0].text)
    tbl_18_19['matches'].append(td_tag[1].text)
    tbl_18_19['win'].append(td_tag[2].text)
    tbl_18_19['loss'].append(td_tag[3].text)
    tbl_18_19['tie'].append(td_tag[4].text)
    tbl_18_19['no_result'].append(td_tag[5].text)
    tbl_18_19['points'].append(td_tag[6].text)
    tbl_18_19['nrr'].append(td_tag[7].text)
    tbl_18_19['for'].append(td_tag[9].text)
    tbl_18_19['against'].append(td_tag[10].text)

df_19 = pd.DataFrame(tbl_18_19)

df_19['season'] = "2018/2019"
df_19

,team,matches,win,loss,tie,no_result,points,nrr,for,against,season
0,1Peshawar Zalmi,10,7,3,0,0,14,0.828,1527/189.0,1431/197.2,2018/2019
1,2Quetta Gladiators,10,7,3,0,0,14,0.376,1580/193.1,1523/195.1,2018/2019
2,3Islamabad United,10,5,5,0,0,10,0.127,1605/194.5,1583/195.1,2018/2019
3,4Karachi Kings,10,5,5,0,0,10,-0.673,1493/197.1,1612/195.3,2018/2019
4,5Multan Sultans,10,3,7,0,0,6,0.173,1481/189.2,1498/195.5,2018/2019
5,6Lahore Qalandars,10,3,7,0,0,6,-0.837,1427/196.3,1466/181.0,2018/2019

In [136]:
url = 'https://www.espncricinfo.com/series/psl-2017-18-1128817/points-table-standings'
source = requests.get(url)
soup = bs(source.text, 'html.parser')
soup

tbody_tag = soup.find('tbody')
tr_tag = tbody_tag.find_all('tr',class_ = "ds-text-tight-s")

tbl_17_18 = {
    'team' : [],
    'matches' : [],
    'win': [],
    'loss' : [],
    'tie' : [],
    'no_result' : [],
    'points' : [],
    'nrr' : [],
    'for' : [],
    'against' : []
}


for row in tr_tag:
    td_tag = row.find_all('td', recursive=False)
    tbl_17_18['team'].append(td_tag[0].text)
    tbl_17_18['matches'].append(td_tag[1].text)
    tbl_17_18['win'].append(td_tag[2].text)
    tbl_17_18['loss'].append(td_tag[3].text)
    tbl_17_18['tie'].append(td_tag[4].text)
    tbl_17_18['no_result'].append(td_tag[5].text)
    tbl_17_18['points'].append(td_tag[6].text)
    tbl_17_18['nrr'].append(td_tag[7].text)
    tbl_17_18['for'].append(td_tag[9].text)
    tbl_17_18['against'].append(td_tag[10].text)

df_18 = pd.DataFrame(tbl_17_18)

df_18['season'] = "2017/2018"
df_18

,team,matches,win,loss,tie,no_result,points,nrr,for,against,season
0,1Islamabad United,10,7,3,0,0,14,0.296,1474/191.0,1441/194.1,2017/2018
1,2Karachi Kings,10,5,4,0,1,11,0.028,1322/176.4,1322/177.2,2017/2018
2,3Peshawar Zalmi,10,5,5,0,0,10,0.464,1539/191.2,1502/198.1,2017/2018
3,4Quetta Gladiators,10,5,5,0,0,10,0.312,1438/190.2,1410/194.4,2017/2018
4,5Multan Sultans,10,4,5,0,1,9,-0.191,1278/175.5,1314/176.1,2017/2018
5,6Lahore Qalandars,10,3,7,0,0,6,-0.931,1407/198.4,1469/183.2,2017/2018

In [139]:
url = 'https://www.espncricinfo.com/series/psl-2016-17-1075974/points-table-standings'

source = requests.get(url)
soup = bs(source.text, 'html.parser')
soup

tbody_tag = soup.find('tbody')
tr_tag = tbody_tag.find_all('tr',class_ = "ds-text-tight-s")

tbl_16_17 = {
    'team' : [],
    'matches' : [],
    'win': [],
    'loss' : [],
    'tie' : [],
    'no_result' : [],
    'points' : [],
    'nrr' : [],
    'for' : [],
    'against' : []
}


for row in tr_tag:
    td_tag = row.find_all('td', recursive=False)
    tbl_16_17['team'].append(td_tag[0].text)
    tbl_16_17['matches'].append(td_tag[1].text)
    tbl_16_17['win'].append(td_tag[2].text)
    tbl_16_17['loss'].append(td_tag[3].text)
    tbl_16_17['tie'].append(td_tag[4].text)
    tbl_16_17['no_result'].append(td_tag[5].text)
    tbl_16_17['points'].append(td_tag[6].text)
    tbl_16_17['nrr'].append(td_tag[7].text)
    tbl_16_17['for'].append(td_tag[9].text)
    tbl_16_17['against'].append(td_tag[10].text)

df_17 = pd.DataFrame(tbl_16_17)

df_17['season'] = "2016/2017"
df_17

,team,matches,win,loss,tie,no_result,points,nrr,for,against,season
0,1Peshawar Zalmi,8,4,3,0,1,9,0.309,948/132.5,940/137.4,2016/2017
1,2Quetta Gladiators,8,4,3,0,1,9,0.166,1096/137.0,1085/138.3,2016/2017
2,3Karachi Kings,8,4,4,0,0,8,-0.098,1137/144.3,1126/141.2,2016/2017
3,4Islamabad United,8,4,4,0,0,8,-0.139,1119/141.3,1128/140.1,2016/2017
4,5Lahore Qalandars,8,3,5,0,0,6,-0.223,1176/157.4,1197/155.5,2016/2017

In [138]:
url = 'https://www.espncricinfo.com/series/pakistan-super-league-2015-16-923069/points-table-standings'

source = requests.get(url)
soup = bs(source.text, 'html.parser')
soup

tbody_tag = soup.find('tbody')
tr_tag = tbody_tag.find_all('tr',class_ = "ds-text-tight-s")

tbl_15_16 = {
    'team' : [],
    'matches' : [],
    'win': [],
    'loss' : [],
    'tie' : [],
    'no_result' : [],
    'points' : [],
    'nrr' : [],
    'for' : [],
    'against' : []
}


for row in tr_tag:
    td_tag = row.find_all('td', recursive=False)
    tbl_15_16['team'].append(td_tag[0].text)
    tbl_15_16['matches'].append(td_tag[1].text)
    tbl_15_16['win'].append(td_tag[2].text)
    tbl_15_16['loss'].append(td_tag[3].text)
    tbl_15_16['tie'].append(td_tag[4].text)
    tbl_15_16['no_result'].append(td_tag[5].text)
    tbl_15_16['points'].append(td_tag[6].text)
    tbl_15_16['nrr'].append(td_tag[7].text)
    tbl_15_16['for'].append(td_tag[9].text)
    tbl_15_16['against'].append(td_tag[10].text)

df_16 = pd.DataFrame(tbl_15_16)

df_16['season'] = "2015/2016"
df_16

,team,matches,win,loss,tie,no_result,points,nrr,for,against,season
0,1Peshawar Zalmi,8,6,2,0,0,12,0.573,1181/151.4,1153/159.5,2015/2016
1,2Quetta Gladiators,8,6,2,0,0,12,0.216,1132/148.1,1178/158.4,2015/2016
2,3Islamabad United,8,4,4,0,0,8,-0.282,1101/153.4,1122/150.4,2015/2016
3,4Karachi Kings,8,2,6,0,0,4,-0.036,1171/155.5,1159/153.3,2015/2016
4,5Lahore Qalandars,8,2,6,0,0,4,-0.536,1268/160.0,1241/146.4,2015/2016

In [152]:
df = pd.concat([df_22, df_21,df_20,df_19,df_18,df_17,df_16], ignore_index=True)

In [153]:
df['rank'] = df['team'].str[0].astype(int)
df['team'] = df['team'].str[1:]
print(df.dtypes)
df.head()

team         object
matches      object
win          object
loss         object
tie          object
no_result    object
points       object
nrr          object
for          object
against      object
season       object
rank          int32
dtype: object

,team,matches,win,loss,tie,no_result,points,nrr,for,against,season,rank
0,Multan Sultans,10,9,1,0,0,18,1.253,1792/194.5,1589/200.0,2021/2022,1
1,Lahore Qalandars,10,6,4,0,0,12,0.765,1764/197.0,1631/199.1,2021/2022,2
2,Peshawar Zalmi,10,6,4,0,0,12,-0.340,1749/199.4,1782/195.5,2021/2022,3
3,Islamabad United,10,4,6,0,0,8,-0.069,1763/195.5,1787/197.0,2021/2022,4
4,Quetta Gladiators,10,4,6,0,0,8,-0.708,1665/194.5,1826/197.2,2021/2022,5

In [154]:
df.iloc[:,1:6] = df.iloc[:,1:6].astype(int)
df['points'] = df['points'].astype(float)
print(df.dtypes)
df.head()

team          object
matches        int32
win            int32
loss           int32
tie            int32
no_result      int32
points       float64
nrr           object
for           object
against       object
season        object
rank           int32
dtype: object

,team,matches,win,loss,tie,no_result,points,nrr,for,against,season,rank
0,Multan Sultans,10,9,1,0,0,18.0,1.253,1792/194.5,1589/200.0,2021/2022,1
1,Lahore Qalandars,10,6,4,0,0,12.0,0.765,1764/197.0,1631/199.1,2021/2022,2
2,Peshawar Zalmi,10,6,4,0,0,12.0,-0.340,1749/199.4,1782/195.5,2021/2022,3
3,Islamabad United,10,4,6,0,0,8.0,-0.069,1763/195.5,1787/197.0,2021/2022,4
4,Quetta Gladiators,10,4,6,0,0,8.0,-0.708,1665/194.5,1826/197.2,2021/2022,5

In [157]:
df.to_csv('points.csv')