In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [3]:
url = 'https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=14395;type=tournament'
source = requests.get(url)
soup = bs(source.text, 'html.parser')

matches_21_22 = soup.find('tbody').find_all('tr', class_ = 'data1')
print(len(matches_21_22))


match_21_22 = {
    'Team_1' : [],
    'Team_2' : [],
    'Winner' : [],
    'Margin' : [],
    'Ground' : [],
    'Match_date' : [],
}


for row in matches_21_22:
    all_td = row.find_all('td', recursive=False)
    

    match_21_22['Team_1'].append(all_td[0].text)
    match_21_22['Team_2'].append(all_td[1].text)
    match_21_22['Winner'].append(all_td[2].text)
    match_21_22['Margin'].append(all_td[3].text)
    match_21_22['Ground'].append(all_td[4].text)
    match_21_22['Match_date'].append(all_td[5].text)
    
    


df_match_21_22 = pd.DataFrame(match_21_22)
df_match_21_22["Season"] = "2021/2022"
print(df_match_21_22.shape)
df_match_21_22.head()

34
(34, 7)

,Team_1,Team_2,Winner,Margin,Ground,Match_date,Season
0,Kings,Sultans,Sultans,7 wickets,Karachi,"Jan 27, 2022",2021/2022
1,Gladiators,Zalmi,Zalmi,5 wickets,Karachi,"Jan 28, 2022",2021/2022
2,Sultans,Qalandars,Sultans,5 wickets,Karachi,"Jan 29, 2022",2021/2022
3,Kings,Gladiators,Gladiators,8 wickets,Karachi,"Jan 29, 2022",2021/2022
4,Zalmi,United,United,9 wickets,Karachi,"Jan 30, 2022",2021/2022

In [3]:
url = 'https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=13781;type=tournament'
source = requests.get(url)
soup = bs(source.text, 'html.parser')

matches_20_21 = soup.find('tbody').find_all('tr')
print(len(matches_20_21))


match_20_21 = {
    'Team_1' : [],
    'Team_2' : [],
    'Winner' : [],
    'Margin' : [],
    'Ground' : [],
    'Match_date' : [],
}


for row in matches_20_21:
    all_td = row.find_all('td', recursive=False)
    

    match_20_21['Team_1'].append(all_td[0].text)
    match_20_21['Team_2'].append(all_td[1].text)
    match_20_21['Winner'].append(all_td[2].text)
    match_20_21['Margin'].append(all_td[3].text)
    match_20_21['Ground'].append(all_td[4].text)
    match_20_21['Match_date'].append(all_td[5].text)
    
    


df_match_20_21 = pd.DataFrame(match_20_21)
df_match_20_21["Season"] = "2020/2021"
print(df_match_20_21.shape)
df_match_20_21.head()

34
(34, 7)

,Team_1,Team_2,Winner,Margin,Ground,Match_date,Season
0,Kings,Gladiators,Kings,7 wickets,Karachi,"Feb 20, 2021",2020/2021
1,Qalandars,Zalmi,Qalandars,4 wickets,Karachi,"Feb 21, 2021",2020/2021
2,United,Sultans,United,3 wickets,Karachi,"Feb 21, 2021",2020/2021
3,Qalandars,Gladiators,Qalandars,9 wickets,Karachi,"Feb 22, 2021",2020/2021
4,Sultans,Zalmi,Zalmi,6 wickets,Karachi,"Feb 23, 2021",2020/2021

In [4]:
url = 'https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=13548;type=tournament'
source = requests.get(url)
soup = bs(source.text, 'html.parser')

matches_19_20 = soup.find('tbody').find_all('tr')
print(len(matches_19_20))


match_19_20 = {
    'Team_1' : [],
    'Team_2' : [],
    'Winner' : [],
    'Margin' : [],
    'Ground' : [],
    'Match_date' : [],
}


for row in matches_19_20:
    all_td = row.find_all('td', recursive=False)
    

    match_19_20['Team_1'].append(all_td[0].text)
    match_19_20['Team_2'].append(all_td[1].text)
    match_19_20['Winner'].append(all_td[2].text)
    match_19_20['Margin'].append(all_td[3].text)
    match_19_20['Ground'].append(all_td[4].text)
    match_19_20['Match_date'].append(all_td[5].text)
    
    


df_match_19_20 = pd.DataFrame(match_19_20)
df_match_19_20["Season"] = "2019/2020"
print(df_match_19_20.shape)
df_match_19_20.head()

34
(34, 7)

,Team_1,Team_2,Winner,Margin,Ground,Match_date,Season
0,United,Gladiators,Gladiators,3 wickets,Karachi,"Feb 20, 2020",2019/2020
1,Kings,Zalmi,Kings,10 runs,Karachi,"Feb 21, 2020",2019/2020
2,Qalandars,Sultans,Sultans,5 wickets,Lahore,"Feb 21, 2020",2019/2020
3,Zalmi,Gladiators,Zalmi,6 wickets,Karachi,"Feb 22, 2020",2019/2020
4,United,Sultans,United,8 wickets,Lahore,"Feb 22, 2020",2019/2020

In [5]:

source = requests.get('https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=12804;type=tournament')
soup = bs(source.text, 'html.parser')

matches_18_19 = soup.find('tbody').find_all('tr')
print(len(matches_21_22))





match_18_19 = {
    'Team_1' : [],
    'Team_2' : [],
    'Winner' : [],
    'Margin' : [],
    'Ground' : [],
    'Match_date' : [],
}


for row in matches_18_19:
    all_td = row.find_all('td', recursive=False)
    

    match_18_19['Team_1'].append(all_td[0].text)
    match_18_19['Team_2'].append(all_td[1].text)
    match_18_19['Winner'].append(all_td[2].text)
    match_18_19['Margin'].append(all_td[3].text)
    match_18_19['Ground'].append(all_td[4].text)
    match_18_19['Match_date'].append(all_td[5].text)
    
    


df_match_18_19 = pd.DataFrame(match_18_19)
df_match_18_19["Season"] = "2018/2019"
print(df_match_18_19.shape)
df_match_18_19.head()

34
(34, 7)

,Team_1,Team_2,Winner,Margin,Ground,Match_date,Season
0,United,Qalandars,United,5 wickets,Dubai (DSC),"Feb 14, 2019",2018/2019
1,Kings,Sultans,Kings,7 runs,Dubai (DSC),"Feb 15, 2019",2018/2019
2,Zalmi,Gladiators,Gladiators,6 wickets,Dubai (DSC),"Feb 15, 2019",2018/2019
3,United,Sultans,Sultans,5 wickets,Dubai (DSC),"Feb 16, 2019",2018/2019
4,Kings,Qalandars,Qalandars,22 runs,Dubai (DSC),"Feb 16, 2019",2018/2019

In [6]:

source = requests.get('https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=12186;type=tournament')
soup = bs(source.text, 'html.parser')

matches_17_18 = soup.find('tbody').find_all('tr')
print(len(matches_17_18))





match_17_18 = {
    'Team_1' : [],
    'Team_2' : [],
    'Winner' : [],
    'Margin' : [],
    'Ground' : [],
    'Match_date' : [],
}


for row in matches_17_18:
    all_td = row.find_all('td', recursive=False)
    

    match_17_18['Team_1'].append(all_td[0].text)
    match_17_18['Team_2'].append(all_td[1].text)
    match_17_18['Winner'].append(all_td[2].text)
    match_17_18['Margin'].append(all_td[3].text)
    match_17_18['Ground'].append(all_td[4].text)
    match_17_18['Match_date'].append(all_td[5].text)
    
    


df_match_17_18 = pd.DataFrame(match_17_18)
df_match_17_18["Season"] = "2017/2018"
print(df_match_17_18.shape)
df_match_17_18.head()

34
(34, 7)

,Team_1,Team_2,Winner,Margin,Ground,Match_date,Season
0,Zalmi,Sultans,Sultans,7 wickets,Dubai (DSC),"Feb 22, 2018",2017/2018
1,Kings,Gladiators,Kings,19 runs,Dubai (DSC),"Feb 23, 2018",2017/2018
2,Sultans,Qalandars,Sultans,43 runs,Dubai (DSC),"Feb 23, 2018",2017/2018
3,United,Zalmi,Zalmi,34 runs,Dubai (DSC),"Feb 24, 2018",2017/2018
4,Gladiators,Qalandars,Gladiators,9 wickets,Dubai (DSC),"Feb 24, 2018",2017/2018

In [7]:

    

source = requests.get('https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=11673;type=tournament')
soup = bs(source.text, 'html.parser')

matches_16_17 = soup.find('tbody').find_all('tr')
print(len(matches_16_17))





match_16_17 = {
    'Team_1' : [],
    'Team_2' : [],
    'Winner' : [],
    'Margin' : [],
    'Ground' : [],
    'Match_date' : [],
}


for row in matches_16_17:
    all_td = row.find_all('td', recursive=False)
    

    match_16_17['Team_1'].append(all_td[0].text)
    match_16_17['Team_2'].append(all_td[1].text)
    match_16_17['Winner'].append(all_td[2].text)
    match_16_17['Margin'].append(all_td[3].text)
    match_16_17['Ground'].append(all_td[4].text)
    match_16_17['Match_date'].append(all_td[5].text)
    
    


df_match_16_17 = pd.DataFrame(match_16_17)
df_match_16_17["Season"] = "2016/2017"
print(df_match_16_17.shape)
df_match_16_17.head()

24
(24, 7)

,Team_1,Team_2,Winner,Margin,Ground,Match_date,Season
0,United,Zalmi,United,7 wickets,Dubai (DSC),"Feb 9, 2017",2016/2017
1,Qalandars,Gladiators,Gladiators,8 runs,Dubai (DSC),"Feb 10, 2017",2016/2017
2,Kings,Zalmi,Zalmi,7 wickets,Dubai (DSC),"Feb 10, 2017",2016/2017
3,United,Qalandars,Qalandars,6 wickets,Dubai (DSC),"Feb 11, 2017",2016/2017
4,Kings,Gladiators,Gladiators,7 wickets,Dubai (DSC),"Feb 11, 2017",2016/2017

In [8]:

source = requests.get('https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?id=10555;type=tournament')
soup = bs(source.text, 'html.parser')

matches_15_16 = soup.find('tbody').find_all('tr')
print(len(matches_15_16))





match_15_16 = {
    'Team_1' : [],
    'Team_2' : [],
    'Winner' : [],
    'Margin' : [],
    'Ground' : [],
    'Match_date' : [],
}


for row in matches_15_16:
    all_td = row.find_all('td', recursive=False)
    

    match_15_16['Team_1'].append(all_td[0].text)
    match_15_16['Team_2'].append(all_td[1].text)
    match_15_16['Winner'].append(all_td[2].text)
    match_15_16['Margin'].append(all_td[3].text)
    match_15_16['Ground'].append(all_td[4].text)
    match_15_16['Match_date'].append(all_td[5].text)
    
    


df_match_15_16 = pd.DataFrame(match_15_16)
df_match_15_16["Season"] = "2015/2016"
print(df_match_15_16.shape)
df_match_15_16.head()

24
(24, 7)

,Team_1,Team_2,Winner,Margin,Ground,Match_date,Season
0,United,Gladiators,Gladiators,8 wickets,Dubai (DSC),"Feb 4, 2016",2015/2016
1,Kings,Qalandars,Kings,7 wickets,Dubai (DSC),"Feb 5, 2016",2015/2016
2,Zalmi,United,Zalmi,24 runs,Dubai (DSC),"Feb 5, 2016",2015/2016
3,Gladiators,Kings,Gladiators,8 wickets,Dubai (DSC),"Feb 6, 2016",2015/2016
4,Qalandars,Zalmi,Zalmi,9 wickets,Dubai (DSC),"Feb 6, 2016",2015/2016

In [10]:
df = pd.concat([df_match_15_16, df_match_16_17, df_match_17_18, df_match_18_19, df_match_19_20, df_match_20_21, df_match_21_22], ignore_index=True)

In [12]:
df.head()

,Team_1,Team_2,Winner,Margin,Ground,Match_date,Season
0,United,Gladiators,Gladiators,8 wickets,Dubai (DSC),"Feb 4, 2016",2015/2016
1,Kings,Qalandars,Kings,7 wickets,Dubai (DSC),"Feb 5, 2016",2015/2016
2,Zalmi,United,Zalmi,24 runs,Dubai (DSC),"Feb 5, 2016",2015/2016
3,Gladiators,Kings,Gladiators,8 wickets,Dubai (DSC),"Feb 6, 2016",2015/2016
4,Qalandars,Zalmi,Zalmi,9 wickets,Dubai (DSC),"Feb 6, 2016",2015/2016

In [13]:
df.to_csv('psl_matches_16_to_22.csv')